@prefix sys:       <http://www.semanticweb.org/mario/ontologies/2021/6/untitled-ontology-9#> .
@prefix rdf:       <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix owl:       <http://www.w3.org/2002/07/owl#> .

[rule1: (?lane rdf:type ?laneType), (?laneType rdfs:subClassOf sys:Lane), (?car rdf:type ?carType), (?carType rdfs:subClassOf sys:Participants), (?lane sys:hasParticipant ?car), (?car sys:isParking ?lane),  listEqual(?laneType,sys:OneWayLane), print(?car,?lane) -> (?car sys:Situation "not legal"), print("rule1 fired")]
